// Colors
$veryDarkCian: hsl(193, 100%, 7%);
$limeGreen: hsl(158, 100%, 40%);
$grayishCyan: hsl(180, 20%, 75%);
$veryLightOrange: hsl(40, 100%, 80%);
$softOrange: hsl(31, 96%, 72%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 1rem; // 16px
$font-md: 1.125rem; // 18px
$font-lg: 1.5rem; // 24px