@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/* reset */
* {
  box-sizing: border-box;
}

/* variables */
:root {
  /* colors */
  --red: #ff3860;
  --red-dark: #ff1443;
  --red-light: #ff5c7c;
  --blue: #498afb;
  --blue-dark: #267afa;
  --blue-light: #6ca0fc;
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;
  --green: #09c372;
  --green-dark: #07a15e;
  --green-light: #0be586;
  --purple: #9166cc;
  --purple-dark: #7d4bc3;
  --purple-light: #a481d5;
  --pink: #ff4088;
  --pink-dark: #ff1c72;
  --pink-light: #ff649e;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  /* fonts */
  --font-body: "Open Sans", sans-serif;
  --font-head: Helvetica, Arial, sans-serif;
  --font-code: "Consolas", monospace;
  --font-size: 20px;  
  /* borders */
  --h-border: 2px dashed var(--gray5);
}

main {
  margin-top: 4em;
  padding: 1rem;
}

a {
  color: var(--blue);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray6);
  font-family: var(--font-head);
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

hr {
  border: none;
  border-bottom: var(--h-border);
}

li {
  padding: .5em 0;
}

blockquote {
  border-left: 3px dashed var(--gray5);
  font-size: 1.2em;
  font-weight: 300;
  padding-left: 1em;
  position: relative;
}

::selection {
  background: var(--green);
  color: #fff;
}

@media only screen and (max-width: 768px) {
  :root {
    --font-size: 15px;
  }

  main {
    margin-left: .5em;
  }
}